<app-header></app-header>
<main class="body-wrapper">
  <section class="main-heading-wrapper">
    <div class="container">
      <div class="row">
          <div class="col-12 heading-tag collect-pin">
            <!-- Let's get started creating your -->
            <h1> <strong>Cabinets Remodel Budget!</strong><span>Please help Klisee with the following details in order to create the most accurate budget:</span></h1>
          </div>
        </div>
    </div>
  </section>
  <section class="budget-calculation-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="budget-calculation-holder">
            <h2 class="text-center">Pick your current kitchen layout</h2>
            <form>
                <mat-button-toggle-group>
                <ul class="kitchen-layout-holder">
                  <li>
                    <mat-button-toggle value="image1"><img src="assets/images/plan-markless.png" alt="Plan 1"></mat-button-toggle>
                    <h5>L with Island</h5>
                  </li>
                  <li>
                    <mat-button-toggle value="image2"><img src="assets/images/plan1-markless.png" alt="Plan 2"></mat-button-toggle>
                    <h5>Galley Style</h5>
                  </li>
                  <li>
                    <mat-button-toggle value="image3"><img src="assets/images/plan2-markless.png" alt="Image 3"></mat-button-toggle>
                    <h5>L with Peninsula</h5>
                  </li>
                  <li>
                    <mat-button-toggle value="image4"><img src="assets/images/plan3-markless.png" alt="Image 4"></mat-button-toggle>
                    <h5>Large Custom</h5>
                  </li>
                </ul>
              </mat-button-toggle-group>
              <ul class="question-answer-form common-kitchen-layout-input-holder"> 
                <li>
                  <label>Enter Length and depth of room where the kitchen will go</label>
                  <mat-form-field>
                    <input matInput placeholder="Length">
                    <span matSuffix>LF</span>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Breadth">
                    <span matSuffix>LF</span>
                  </mat-form-field>
                </li>
                <li>
                  <label>How many doorways will be in this room?</label>
                  <mat-form-field class="width-40">
                    <input matInput placeholder="Doorways">
                  </mat-form-field>
                </li>
                <li>
                  <label>Are you planning to keep a table in the kitchen?</label>
                  <mat-radio-group class="width-40">
                    <mat-radio-button value="Yes">Yes</mat-radio-button>
                    <mat-radio-button value="No">No</mat-radio-button>
                  </mat-radio-group>
                </li>
                <li>
                  <label>Would you like crown molding?</label>
                  <mat-radio-group class="width-40">
                    <mat-radio-button value="Yes">Yes</mat-radio-button>
                    <mat-radio-button value="No">No</mat-radio-button>
                  </mat-radio-group>
                </li>
                <li>
                  <label>How many windows are in the kitchen?</label>
                  <mat-form-field class="width-40">
                    <input matInput placeholder="windows">
                  </mat-form-field>
                </li>
                <li>
                  <label>Would you like an Island or Peninsula?</label>
                  <mat-radio-group class="width-40">
                    <mat-radio-button value="Yes" (change)="isActive = !isActive">Yes</mat-radio-button>
                    <mat-radio-button value="No" (change)="isActive = false">No</mat-radio-button>
                  </mat-radio-group>
                </li>
                <li [ngClass]="{'active': isActive}" class="roughly-length-island-peninsula">
                  <label>Enter roughly the depth of the Island or Peninsula</label>
                  <mat-form-field>
                    <input matInput placeholder="Length">
                    <span matSuffix>LF</span>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Depth">
                    <span matSuffix>LF</span>
                  </mat-form-field>
                </li>
              </ul>
            </form>
            <div class="nxt-prev-btn-holder mt-4 mb-4">
              <a routerLink="/replaceorupdate-question-set" mat-button class="prev-btn">Previous</a>
              <a routerLink="/calculate-available-wallspace" mat-button class="next-btn">Next</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>