<app-header></app-header>
<main class="body-wrapper">
  <section class="main-heading-wrapper">
    <div class="container">
      <div class="row">
          <div class="col-12 heading-tag collect-pin">
            <h1>Let's get started creating your <strong>Kitchen Remodel Budget!</strong><span>We will need some details to develop the most accurate budget</span></h1>
          </div>
        </div>
    </div>
  </section>
  <section class="common-controller-question-answer state-pin-wrapper" *ngIf="!visible" [@slideInOut]>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <figure class="question-answer-holder">
            <div class="question-answer-title-holder">
              <h2>What is the location of your project?</h2>
              <div class="question-answer-icon-holder">
                <i class="fa fa-map-marker"></i>
              </div>
            </div>
            <figcaption>
              <form class="question-answer-form">
                <mat-form-field class="common-style-question-answer put-your-pin">
                  <input matInput placeholder="Enter Zip Code">
                </mat-form-field>
                <div class="nxt-prev-btn-holder">
                  <button type="button" (click)="visible = !visible" mat-button class="next-btn">Next</button>
                </div>
              </form>              
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>
  <section class="common-controller-question-answer state-pin-wrapper" *ngIf="visible" [@slideInOut]>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <figure class="question-answer-holder">
            <div class="question-answer-title-holder">
              <h2>What type of work do you need done</h2>
              <div class="question-answer-icon-holder">
                <img src="assets/images/engineer.png" alt="Worker">
              </div>
            </div>
            <figcaption>
              <form class="question-answer-form">
                <mat-radio-group>
                  <ul>
                    <li><mat-radio-button value="Pre finished flooring">Pre finished flooring</mat-radio-button></li>
                    <li><mat-radio-button value="Unfinished Flooring">Unfinished Flooring</mat-radio-button></li>
                    <li><mat-radio-button value="Sanding and Refinishing existing">Sanding and Refinishing existing </mat-radio-button></li>
                    <li><mat-radio-button value="Hardwood Flooring">Hardwood Flooring</mat-radio-button></li>
                    <li><mat-radio-button value="Sheet Vinyl">Sheet Vinyl</mat-radio-button></li>
                    <li><mat-radio-button value="Luxury Vinyl">Luxury Vinyl</mat-radio-button></li>
                    <li><mat-radio-button value="Porcelain or Ceramic tile flooring">Porcelain or Ceramic tile flooring</mat-radio-button></li>
                    <li><mat-radio-button value="Laminate flooring (Lock & Click floating)">Laminate flooring (Lock & Click floating)</mat-radio-button></li>
                  </ul>
                </mat-radio-group>
                <div class="nxt-prev-btn-holder">
                  <button type="button" (click)="visible = !visible" mat-button class="prev-btn">Previous</button>
                  <button type="button" (click)="!visible = visible" mat-button class="next-btn">Next</button>
                </div>
              </form>              
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>
</main>