<app-header></app-header>
<main class="body-wrapper">
  <section class="main-heading-wrapper">
    <div class="container">
      <div class="row">
          <div class="col-12 heading-tag collect-pin">
            <h1>Let's get started creating your <strong>Kitchen Remodel Budget!</strong><span>We will need some details to develop the most accurate budget</span></h1>
          </div>
        </div>
    </div>
  </section>
  <app-location></app-location>
  <app-work-type></app-work-type>
  <app-material-cost></app-material-cost>
  <app-your-room></app-your-room>
  <app-budget-calculation></app-budget-calculation>
</main>