<app-header></app-header>
<main class="body-wrapper">
  <app-service-heading></app-service-heading>
  <section class="budget-calculation-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="budget-calculation-holder relative assumption-controller">
            <a routerLink="/budgetcalculation" class="back-to-page" matTooltip="Back to Budget page" matTooltipPosition="right"><i class="fa fa-arrow-left"></i></a>
            <h3><strong>Assumptions</strong> for square footage of flooring</h3>
            <ul class="assumption-holder">
              <li><span>Actual square footage of flooring needed</span><span>196.875</span></li>
              <li><span>10% added for waste</span><span>216.5625</span></li>
              <li><span>Minimum case pack</span><span>19.68</span></li>
              <li><span>Case packs needed</span><span>11.00419207</span></li>
              <li><span>Rounded to full casepack</span><span>11</span></li>
              <li><span>Actual square footage to be purchased</span><span>216.48</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>