<app-header></app-header>
<main class="body-wrapper">
  <section class="main-heading-wrapper">
    <div class="container">
      <div class="row">
          <div class="col-12 heading-tag collect-pin">
            <!-- Let's get started creating your -->
            <h1> <strong>Countertops Remodel Budget!</strong><span>Please help Klisee with the following details in order to create the most accurate budget:</span></h1>
          </div>
        </div>
    </div>
  </section>
  <section class="common-controller-question-answer state-pin-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <figure class="question-answer-holder">
            <div class="question-answer-title-holder">
               <h2>Do you want to change the current layout?</h2> 
            </div>
            <figcaption>
              <form class="question-answer-form">
                <div class="room-holder">
                  <div class="need-sinks-holder">
                    <div class="full-width">
                      <div class="quarter-controller quarter-third-width">
                        <label>Will you be replacing or updating your flooring</label>
                      </div>
                      <div class="quarter-controller quarter-width">
                        <mat-radio-group>
                          <mat-radio-button value="yes" >Yes</mat-radio-button>
                          <mat-radio-button value="no" >No</mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="quarter-controller quarter-third-width">
                        <label>Will you be replacing or updating your appliances</label>
                      </div>
                      <div class="quarter-controller quarter-width">
                        <mat-radio-group>
                          <mat-radio-button value="yes" >Yes</mat-radio-button>
                          <mat-radio-button value="no" >No</mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="quarter-controller quarter-third-width">
                        <label>Will you be replacing or updating your countertops</label>
                      </div>
                      <div class="quarter-controller quarter-width">
                        <mat-radio-group>
                          <mat-radio-button value="yes" >Yes</mat-radio-button>
                          <mat-radio-button value="no" >No</mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="quarter-controller quarter-third-width">
                        <label>Will you be installing a tile backsplash</label>
                      </div>
                      <div class="quarter-controller quarter-width">
                        <mat-radio-group>
                          <mat-radio-button value="yes" >Yes</mat-radio-button>
                          <mat-radio-button value="no" >No</mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="quarter-controller quarter-third-width">
                        <label>Will you be painting the room</label>
                      </div>
                      <div class="quarter-controller quarter-width">
                        <mat-radio-group>
                          <mat-radio-button value="yes" >Yes</mat-radio-button>
                          <mat-radio-button value="no" >No</mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="nxt-prev-btn-holder mt-4">
                  <a routerLink="/calculate-available-wallspace" mat-button class="prev-btn">Previous</a>
                  <a routerLink="/counterdetails-cabinets" mat-button class="next-btn">Next</a>
                </div>
              </form>              
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>
</main>