<app-header></app-header>
<main class="body-wrapper">
  <app-service-heading></app-service-heading>
  <section class="common-controller-question-answer yourroom-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="relative room-details-holder metarial-cost heading-tag">
            <a routerLink="/materialcost" class="back-to-page" matTooltip="Back to material cost page" matTooltipPosition="right"><i class="fa fa-arrow-left"></i></a>
            <h2>Default standard material cost</h2>
            <div class="mt-4 table-responsive standard-material-cost-controller">
              <table class="table table-bordered">
                <thead>
                  <tr class="table-light">
                    <th class="width-40">Flooring Materials</th>
                    <th class="width-15">Case Pack</th>
                    <th class="width-15">Cost/sf</th>
                    <th class="width-20">Case Pack Cost</th>
                    <th class="width-10">Shipping</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="width-40">Pre finished flooring</td>
                    <td class="text-right width-15">18</td>
                    <td class="text-right width-15">$5.00</td>
                    <td class="text-right width-20">$90.00</td>
                    <td class="text-right width-10">85</td>
                  </tr>
                  <tr>
                    <td class="width-40">Unfinished flooring(install 2 coats of poly)</td>
                    <td class="text-right width-15">19.86</td>
                    <td class="text-right width-15">$4.50</td>
                    <td class="text-right width-20">$89.37</td>
                    <td class="text-right width-10">0</td>
                  </tr>
                  <tr>
                    <td class="width-40">Sanding and Refinishing existing hardwood flooring</td>
                    <td class="text-right width-15">n/a or 0</td>
                    <td class="text-right width-15">$-</td>
                    <td class="text-right width-20">$-</td>
                    <td class="text-right width-10">0</td>
                  </tr>
                  <tr>
                    <td class="width-40">Sheet vinyl</td>
                    <td class="text-right width-15">24</td>
                    <td class="text-right width-15">$1.00</td>
                    <td class="text-right width-20">$24.00</td>
                    <td class="text-right width-10">75</td>
                  </tr>
                  <tr>
                    <td class="width-40">luxury vinyl</td>
                    <td class="text-right width-15">36</td>
                    <td class="text-right width-15">$4.75</td>
                    <td class="text-right width-20">$171.00</td>
                    <td class="text-right width-10">50</td>
                  </tr>
                  <tr>
                    <td class="width-40">Procelain or ceramic tile flooring</td>
                    <td class="text-right width-15">10</td>
                    <td class="text-right width-15">$3.50</td>
                    <td class="text-right width-20">$35.00</td>
                    <td class="text-right width-10">85</td>
                  </tr>
                  <tr>
                    <td class="width-40">Laminate flooring(lock & click floating & pad)</td>
                    <td class="text-right width-15">24</td>
                    <td class="text-right width-15">$3.00</td>
                    <td class="text-right width-20">$72.00</td>
                    <td class="text-right width-10">85</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>