<app-header></app-header>
<main class="body-wrapper">
  <app-service-heading></app-service-heading>
  <section class="common-controller-question-answer yourroom-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="room-details-holder heading-tag">
            <h2>Tell us something about your room</h2>
            <form id="room" [formGroup]="myRoom">
              <ul class="room-details">
                <li class="stor-room-details">
                  <div class="room-holder">
                    <h3>Room 1</h3>
                    <div class="edit-delete-room-holder">
                      <button type="button" class="edit-room"><i class="fa fa-pencil"></i></button>
                      <button type="button" class="delete-room"><i class="fa fa-trash"></i></button>
                    </div>
                    <div class="full-width">
                      <mat-form-field>
                        <input matInput placeholder="Room Name" class="room_choose" formControlName="roomname" required>
                      </mat-form-field>
                    </div>
                    <div class="full-width">
                      <div class="half-width">
                        <mat-form-field>
                          <input matInput placeholder="Length of the room" class="room_choose" formControlName="roomlength" required>
                        </mat-form-field>
                      </div>
                      <div class="half-width">
                        <mat-form-field>
                          <input matInput placeholder="Breadth of the room" class="room_choose" formControlName="roombreadth" required>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="quarter-controller quarter-third-width">
                        <label>Do you need a demo?</label>
                      </div>
                      <div class="quarter-controller quarter-width">
                        <mat-radio-group formControlName="roomDemoNeed">
                          <mat-radio-button value="yes" required >Yes</mat-radio-button>
                          <mat-radio-button value="no" required >No</mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="quarter-controller quarter-third-width">
                        <label>Do you want to remove or replace your baseboards?</label>
                      </div>
                      <div class="quarter-controller quarter-width">
                        <mat-radio-group formControlName="roomBaseboardNeed">
                          <mat-radio-button value="yes" required >Yes</mat-radio-button>
                          <mat-radio-button value="no" required >No</mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="half-width">
                        <mat-form-field>
                          <input matInput placeholder="Doorways" class="room_choose" formControlName="roomdoorways" required>
                        </mat-form-field>
                      </div>
                      <div class="half-width">
                        <mat-form-field>
                          <input matInput placeholder="Step downs" class="room_choose" formControlName="roomstepdowns" required>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="active-room-details">
                  <div class="room-holder">
                    <h3>Room 2</h3>
                    <div class="edit-delete-room-holder">
                      <button type="button" class="edit-room"><i class="fa fa-pencil"></i></button>
                      <button type="button" class="delete-room"><i class="fa fa-trash"></i></button>
                    </div>
                    <div class="full-width">
                      <mat-form-field>
                        <input matInput placeholder="Room Name" class="room_choose" formControlName="roomname" required>
                      </mat-form-field>
                    </div>
                    <div class="full-width">
                      <div class="half-width">
                        <mat-form-field>
                          <input matInput placeholder="Length of the room" class="room_choose" formControlName="roomlength" required>
                        </mat-form-field>
                      </div>
                      <div class="half-width">
                        <mat-form-field>
                          <input matInput placeholder="Breadth of the room" class="room_choose" formControlName="roombreadth" required>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="quarter-controller quarter-third-width">
                        <label>Do you need a demo?</label>
                      </div>
                      <div class="quarter-controller quarter-width">
                        <mat-radio-group formControlName="roomDemoNeed">
                          <mat-radio-button value="yes" required >Yes</mat-radio-button>
                          <mat-radio-button value="no" required >No</mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="quarter-controller quarter-third-width">
                        <label>Do you want to remove or replace your baseboards?</label>
                      </div>
                      <div class="quarter-controller quarter-width">
                        <mat-radio-group formControlName="roomBaseboardNeed">
                          <mat-radio-button value="yes" required >Yes</mat-radio-button>
                          <mat-radio-button value="no" required >No</mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="half-width">
                        <mat-form-field>
                          <input matInput placeholder="Doorways" class="room_choose" formControlName="roomdoorways" required>
                        </mat-form-field>
                      </div>
                      <div class="half-width">
                        <mat-form-field>
                          <input matInput placeholder="Step downs" class="room_choose" formControlName="roomstepdowns" required>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="text-right"><button type="button" class="add-another-room">+ Add Another Room</button></div>
              <div class="nxt-prev-btn-holder">
                <a routerLink="/materialcost" mat-button class="prev-btn">Previous</a>
                <a routerLink="/budgetcalculation" mat-button class="next-btn">Next</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>