<mat-dialog-content class="assumptions-modal">
  <div class="budget-calculation-holder relative assumption-controller">
    <h3><strong>Assumptions</strong> for square footage of flooring</h3>
    <button mat-dialog-close class="back-to-page" matTooltip="Back to Budget" matTooltipPosition="right"><i class="fa fa-times"></i></button>
    <ul class="assumption-holder">
      <li><span>Square feet of counters <small>(a+b+c+d+...) * 26 (width of counters) / 144</small></span><span>144</span></li>
      <li><span>Square feet of island <small>(length 1 * width 1 + length 2 * width 2 + length 3 * width 3) / 144</small></span><span>144</span></li>
      <li><span>Square feet of backsplash <small>(linear inches / 36 * cost Pr/Sf)</small></span><span>36</span></li>
      <li><span>Total Square footage <small>(Square feet of counters + Square feet of backsplash)</small></span><span>2423</span></li>
    </ul>
    <ul class="assumption-holder last-child-without-highlight">
      <li><span>Cost of Counters <small>(Roundup (Total Square Footage / Utilization) * Cost)</small></span><span>&nbsp;</span></li>
      <li><span>Price / Square Foot <small>Cost of Counters / Total Square Footage</small></span><span>&nbsp;</span></li>
    </ul>
  </div>
</mat-dialog-content>
