<mat-dialog-content class="assumptions-modal">
  <div class="budget-calculation-holder relative assumption-controller edit-name-controller">
    <h3><strong>Please give a name to your project</strong></h3>
    <button mat-dialog-close class="back-to-page" matTooltip="Back to Budget" matTooltipPosition="right"><i class="fa fa-times"></i></button>
    <div class="mt-4 edit-name-modal-holder">
      <!-- <mat-form-field>
        <input matInput placeholder="E.g Flooring for leaving room">
      </mat-form-field> -->
      <mat-form-field appearance="outline">
        <mat-label>E.g Countertop for leaving room</mat-label>
        <input matInput  placeholder="Project Name">
      </mat-form-field>
    </div>
    <div class="nxt-prev-btn-holder mt-2">
      <button type="button" mat-dialog-close routerLink="/signup" mat-button class="next-btn">Save Project</button>
    </div>
  </div>
</mat-dialog-content>
