<app-header></app-header>
<main class="body-wrapper">
  <app-service-heading></app-service-heading>
  <section class="common-controller-question-answer yourroom-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="room-details-holder metarial-cost heading-tag">
            <h2>We will calculate your material budget</h2>
            <p>If you know the exact product you are interested in you can provide the name, SKU, case pack and price per square foot. If not, we will default to a standard price for budgeting purposes</p>
            <form id="materialCost" method="POST">
              <div class="room-details metarial-cost-details mt-5">
                <div class="full-width">
                  <div class="quarter-width">
                    <mat-form-field>
                      <input matInput  class="room_choose">
                      <mat-hint>Manufacturer</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="quarter-width">
                    <mat-form-field>
                      <input matInput  class="room_choose">
                      <mat-hint>SKU</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="quarter-width">
                    <mat-form-field>
                      <input matInput  class="room_choose">
                      <mat-hint>Case Pack Size</mat-hint>
                      <span matSuffix>Sf / Case</span>
                    </mat-form-field>
                  </div>
                  <div class="quarter-width">
                    <mat-form-field>
                      <input matInput class="room_choose">
                      <mat-hint>Price</mat-hint>
                      <span matSuffix>/ Sf</span>
                    </mat-form-field>
                  </div>
                </div>
                <div class="nxt-prev-btn-holder mt-4 mb-4">
                  <a routerLink="/location" mat-button class="prev-btn">Previous</a>
                  <a routerLink="/yourroom" mat-button class="next-btn">Next</a>
                </div>
                <div class="text-center">
                  <a routerLink="/standard-material-cost" class="add-another-room color-yellow size-14">View Standard price table</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>