<main class="home-wrapper">
  <section class="navigation-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light navigation-holder">
      <a class="navbar-brand" routerLink="/home"><img src="/assets/images/logo.png" alt="KLISEE"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse empowering-home-text-controller" id="navbarSupportedContent">
        <p class="visible-desktop">empowering the homeowner</p>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item separater">
            <a class="nav-link" routerLink="/login">Log In</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">Sign Up</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" mat-button mat-raised-button routerLink="/signup">Sign Up</a>
              <a class="dropdown-item" mat-button mat-raised-button routerLink="/my-document">My Document</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-12 empowering-home-text-controller visible-mobile text-center">
          <p>empowering the homeowner</p>
        </div>
      </div>
    </div>
  </section>

  <section class="budget-picker-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12 budget-picker-controller">
          <h1>Ready to create a budget? Pick your project</h1>
          <form class="example-form">
            <mat-form-field class="project-picker">
              <input type="text" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>             
          <a routerLink="/other-services" class="get-started-btn">get started</a>      
        </div>
      </div>
    </div>
  </section>

</main>
