<app-header></app-header>
<main class="body-wrapper">
  <section class="main-heading-wrapper">
    <div class="container">
      <div class="row">
          <div class="col-12 heading-tag collect-pin">
            <!-- Let's get started creating your -->
            <h1> <strong>Cabinets Remodel Budget!</strong><span>Please help Klisee with the following details in order to create the most accurate budget:</span></h1>
          </div>
        </div>
    </div>
  </section>
  <section class="common-controller-question-answer yourroom-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="relative room-details-holder metarial-cost heading-tag">
            <a routerLink="/calculate-available-wallspace" class="back-to-page" matTooltip="Back to Calculate the available wall spaces" matTooltipPosition="right"><i class="fa fa-arrow-left"></i></a>
            <!-- <h2>Cabinet height factor table</h2> -->
            <div class="mt-4 table-responsive standard-material-cost-controller">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="text-center table-light width-40 font-20" colspan="3">Cabinet height factor table</th>
                    <th class="text-right table-light width-10">1</th>
                    <th class="text-right table-light width-10">2</th>
                    <th class="text-right table-light width-10">3</th>
                    <th class="text-right table-light width-10">4</th>
                    <th class="text-right table-light width-10">5</th>
                    <th class="text-right table-light width-10">6</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-right width-10">84</td>
                    <td class="text-right width-10">87</td>
                    <td class="text-right width-10">30</td>
                    <td class="text-right width-10">1</td>
                    <td class="text-right width-10">1</td>
                    <td class="text-right width-10">1</td>
                    <td class="text-right width-10">1</td>
                    <td class="text-right width-10">1</td>
                    <td class="text-right width-10">1</td>
                  </tr>
                  <tr>
                    <td class="text-right width-10">87</td>
                    <td class="text-right width-10">90</td>
                    <td class="text-right width-10">33</td>
                    <td class="text-right width-10">1</td>
                    <td class="text-right width-10">1</td>
                    <td class="text-right width-10">1.05</td>
                    <td class="text-right width-10">1.05</td>
                    <td class="text-right width-10">1.05</td>
                    <td class="text-right width-10">1.05</td>
                  </tr>
                  <tr>
                    <td class="text-right width-10">90</td>
                    <td class="text-right width-10">93</td>
                    <td class="text-right width-10">36</td>
                    <td class="text-right width-10">1</td>
                    <td class="text-right width-10">1.1</td>
                    <td class="text-right width-10">1.1</td>
                    <td class="text-right width-10">1.1</td>
                    <td class="text-right width-10">1.1</td>
                    <td class="text-right width-10">1.1</td>
                  </tr>
                  <tr>
                    <td class="text-right width-10">93</td>
                    <td class="text-right width-10">96</td>
                    <td class="text-right width-10">39</td>
                    <td class="text-right width-10">1.1</td>
                    <td class="text-right width-10">1.1</td>
                    <td class="text-right width-10">1.15</td>
                    <td class="text-right width-10">1.15</td>
                    <td class="text-right width-10">1.15</td>
                    <td class="text-right width-10">1.15</td>
                  </tr>
                  <tr>
                    <td class="text-right width-10">96</td>
                    <td class="text-right width-10">99</td>
                    <td class="text-right width-10">42</td>
                    <td class="text-right width-10">1.1</td>
                    <td class="text-right width-10">1.2</td>
                    <td class="text-right width-10">1.2</td>
                    <td class="text-right width-10">1.2</td>
                    <td class="text-right width-10">1.2</td>
                    <td class="text-right width-10">1.2</td>
                  </tr>
                  <tr>
                    <td class="text-right width-10">99</td>
                    <td class="text-right width-10">102</td>
                    <td class="text-right width-10">45</td>
                    <td class="text-right width-10">1.2</td>
                    <td class="text-right width-10">1.2</td>
                    <td class="text-right width-10">1.25</td>
                    <td class="text-right width-10">1.25</td>
                    <td class="text-right width-10">1.25</td>
                    <td class="text-right width-10">1.25</td>
                  </tr>
                  <tr>
                    <td class="text-right width-10">102</td>
                    <td class="text-right width-10">105</td>
                    <td class="text-right width-10">48</td>
                    <td class="text-right width-10">1.2</td>
                    <td class="text-right width-10">1.2</td>
                    <td class="text-right width-10">1.3</td>
                    <td class="text-right width-10">1.3</td>
                    <td class="text-right width-10">1.3</td>
                    <td class="text-right width-10">1.3</td>
                  </tr>
                  <tr>
                    <td class="text-right width-10">105</td>
                    <td class="text-right width-10">160</td>
                    <td class="text-right width-10">51</td>
                    <td class="text-right width-10">1.2</td>
                    <td class="text-right width-10">1.2</td>
                    <td class="text-right width-10">1.5</td>
                    <td class="text-right width-10">1.5</td>
                    <td class="text-right width-10">1.5</td>
                    <td class="text-right width-10">1.5</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>