<app-header></app-header>
<main class="body-wrapper">
  <section class="main-heading-wrapper">
    <div class="container">
      <div class="row">
          <div class="col-12 heading-tag collect-pin">
            <!-- Let's get started creating your -->
            <h1> <strong>Cabinets Remodel Budget!</strong><span>Please help Klisee with the following details in order to create the most accurate budget:</span></h1>
          </div>
        </div>
    </div>
  </section>
  <section class="budget-calculation-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="budget-calculation-holder">
            <h2 class="text-center">Calculate the available wall spaces in linear feet</h2>
            <div class="row">
              <div class="col-12 col-sm-6 col-md-7 plan-holder">
                <img src="assets/images/l-shape.png" class="mt-2" alt="cabinets wall spaces">
              </div>
              <div class="col-12 col-sm-6 col-md-5 plan-details-holder">
                <div class="plan-size-input-holder">
                  <mat-form-field>
                    <mat-label>Base cabinet lengths</mat-label>
                    <input matInput placeholder="A + B + C+... = __ in linear feet">
                    <span matSuffix>LF</span>
                    <mat-hint>Measure all base cabinet lengths in linear feet and add them together*</mat-hint>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Upper Cabinet Length</mat-label>
                    <input matInput placeholder="X + Y + Z + ....=__ in linear feet">
                    <span matSuffix>LF</span>
                    <mat-hint>Measure All Upper Cabinet Length in linear feet and add them together*</mat-hint>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Ceiling height</mat-label>
                    <input matInput placeholder=" cabinets (H) __">
                    <span matSuffix>LF</span>
                    <mat-hint>Enter the ceiling height or height of the top of the cabinets*</mat-hint>
                  </mat-form-field>
                </div>
                <!-- <div class="text-right"><button class="add-another-room" type="button">+ Add Another Length</button></div> -->
              </div>
            </div>
            <div class="row">
              <div class="col-12 mt-3 mb-3 text-center">
                <a routerLink="/cost-per-linear-table" class="text-href-link-blue">Cost per linear foot</a>
              </div>
            </div>
            <div class="nxt-prev-btn-holder mt-4 mb-4">
              <a routerLink="/common-kitchen-layouts" mat-button class="prev-btn">Previous</a>
              <a routerLink="/cabinets" mat-button class="next-btn">Next</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>