<app-header></app-header>
<main class="body-wrapper">
 <section class="other-service-wrapper">
   <div class="container">
     <div class="row">
       <div class="col-12 other-service-controller heading-tag">
         <div class="other-service-holder">
           <h1>Klisee Categories<span>of Other  Services</span></h1>
           <ul class="other-service-button-holder">
             <li><a routerLink="/flooring" class="active" mat-raised-button>Floooring</a></li>
             <li><a routerLink="#" mat-raised-button>Roofing</a></li>
             <li><a routerLink="#" mat-raised-button>Painting</a></li>
             <li><a routerLink="#" mat-raised-button>Applience installation</a></li>
             <li><a routerLink="#" mat-raised-button>Countertops</a></li>
             <li><a routerLink="#" mat-raised-button>Cabinets</a></li>
             <li><a routerLink="#" mat-raised-button>Plumbing</a></li>
             <li><a routerLink="#" mat-raised-button>Carpentry </a></li>
             <li><a routerLink="#" mat-raised-button>Floooring</a></li>
           </ul>
         </div>
       </div>
     </div>
   </div>
 </section>
</main>