<app-header></app-header>
<main class="body-wrapper">
 <section class="other-service-wrapper">
   <div class="container">
     <div class="row">
       <div class="col-12 other-service-controller heading-tag">
         <div class="other-service-holder">
           <h1>Please select a project from the following list</h1>
           <ul class="other-service-button-holder">
             <li><a routerLink="/flooring" mat-raised-button>Flooring</a></li>
             <li><a routerLink="/flooring" mat-raised-button>Roofing</a></li>
             <li><a routerLink="/flooring" mat-raised-button>Painting</a></li>
             <li><a routerLink="/flooring" mat-raised-button>Appliances installation</a></li>
             <li><a routerLink="/countertop" mat-raised-button>Countertops</a></li>
             <li><a routerLink="/cabinets" mat-raised-button>Cabinets</a></li>
             <li><a routerLink="/flooring" mat-raised-button>Plumbing</a></li>
             <li><a routerLink="/flooring" mat-raised-button>Carpentry </a></li>
             <li><a routerLink="/flooring" mat-raised-button>Floooring</a></li>
           </ul>
           <div class="other-service-default-button-holder">
             <a routerLink="" class="get-started-btn" mat-button>Kitchen Remodel</a>
             <a routerLink="" class="get-started-btn" mat-button>Bath Remodel</a>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
</main>