<div class="my-account-holder">
  <div class="row">
    <div class="col-12 my-account-controller offwhite-bg">
      <div class="user-heading-controller">
        <div>
          <mat-form-field appearance="outline">
          <mat-label>Search</mat-label>
          <input matInput>
          <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
        <div><a routerLink="/other-services" class="submit-btn mat-raised-button get-new-budget-btn">Get an new budget</a></div>
      </div>
      <div class="recent-projects-holder">
        <!-- <h6>Your Recent Projects!!</h6> -->
        <ul class="recent-project-item-holder">
          <li>
            <div class="project-name-holder">
              <h4><img src="assets/images/house.png" alt="House Icon">Kitchen remodel</h4>
              <div class="devider"></div>
              <div class="price">Estimated Budget: <span>$60000</span></div>
            </div>
            <div class="project-action-holder">
              <button type="button" mat-raised-button><i class="fa fa-pencil-square-o"></i></button>
              <button type="button" mat-raised-button><i class="fa fa-trash-o"></i></button>
            </div>
          </li>
          <li>
            <div class="project-name-holder">
              <h4><img src="assets/images/house.png" alt="House Icon">Counter tops</h4>
              <div class="devider"></div>
              <div class="price">Estimated Budget: <span>$60000</span></div>
            </div>
            <div class="project-action-holder">
              <button type="button" mat-raised-button><i class="fa fa-pencil-square-o"></i></button>
              <button type="button" mat-raised-button><i class="fa fa-trash-o"></i></button>
            </div>
          </li>
          <li>
            <div class="project-name-holder">
              <h4><img src="assets/images/house.png" alt="House Icon">Flooring</h4>
              <div class="devider"></div>
              <div class="price">Estimated Budget: <span>$60000</span></div>
            </div>
            <div class="project-action-holder">
              <button type="button" mat-raised-button><i class="fa fa-pencil-square-o"></i></button>
              <button type="button" mat-raised-button><i class="fa fa-trash-o"></i></button>
            </div>
          </li>
          <li>
            <div class="project-name-holder">
              <h4><img src="assets/images/house.png" alt="House Icon">Kitchen remodel</h4>
              <div class="devider"></div>
              <div class="price">Estimated Budget: <span>$60000</span></div>
            </div>
            <div class="project-action-holder">
              <button type="button" mat-raised-button><i class="fa fa-pencil-square-o"></i></button>
              <button type="button" mat-raised-button><i class="fa fa-trash-o"></i></button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>