<section class="budget-calculation-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="budget-calculation-holder">
          <h2>Budget Calculation <strong>Flooring</strong></h2>
          <div class="table-responsive">
            <table class="mt-4 table table-borderless budget-calculation-controller">
              <thead class="thead-dark">
                <tr>
                  <th class="width-30">Products</th>
                  <th class="width-20">Value</th>
                  <th class="width-30">Standards</th>
                  <th class="width-20">Overall</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="width-30 border-right-dark">Flooring Naterial</td>
                  <td class="width-20 border-right-dark">Value</td>
                  <td class="width-30 border-right-dark">Standards</td>
                  <td class="width-20">Overall</td>
                </tr>
                <tr>
                  <td class="border-right-dark">Flooring Naterial</td>
                  <td class="border-right-dark">Value</td>
                  <td class="border-right-dark">Standards</td>
                  <td>Overall</td>
                </tr>
                <tr>
                  <td class="border-right-dark">Flooring Naterial</td>
                  <td class="border-right-dark">Value</td>
                  <td class="border-right-dark">Standards</td>
                  <td>Overall</td>
                </tr>
                <tr>
                  <td class="border-right-dark">Flooring Naterial</td>
                  <td class="border-right-dark">Value</td>
                  <td class="border-right-dark">Standards</td>
                  <td>Overall</td>
                </tr>
                <tr>
                  <td class="border-right-dark">Flooring Naterial</td>
                  <td class="border-right-dark">Value</td>
                  <td class="border-right-dark">Standards</td>
                  <td>Overall</td>
                </tr>
                <tr class="border-top-and-bottom font-bold">
                  <td colspan="3" class="border-right-dark">Total</td>
                  <td>$15845</td>
                </tr>
              </tbody>
              <thead>
                <tr>
                  <th colspan="4" class="text-left color-blue border-bottom-dark">Products</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="border-right-dark">Flooring Naterial</td>
                  <td class="border-right-dark">Value</td>
                  <td class="border-right-dark">Standards</td>
                  <td>Overall</td>
                </tr>
                <tr>
                  <td class="border-right-dark">Flooring Naterial</td>
                  <td class="border-right-dark">Value</td>
                  <td class="border-right-dark">Standards</td>
                  <td>Overall</td>
                </tr>
                <tr>
                  <td class="border-right-dark">Flooring Naterial</td>
                  <td class="border-right-dark">Value</td>
                  <td class="border-right-dark">Standards</td>
                  <td>Overall</td>
                </tr>
                <tr class="border-top-and-bottom font-bold">
                  <td colspan="3" class="border-right-dark">Total</td>
                  <td>$15845</td>
                </tr>
              </tbody>
              <thead class="thead-dark">
                <tr class="border-bottom-offwhite">
                  <th colspan="3">Overall Total</th>
                  <th class="width-20">$15845</th>
                </tr>
                <tr>
                  <th colspan="3">Average</th>
                  <th class="width-20">$15845</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>