<app-header></app-header>
<main class="body-wrapper">
  <app-service-heading></app-service-heading>
  <section class="budget-calculation-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="budget-calculation-holder">
            <h2>Budget Calculation <strong>Flooring</strong></h2>
            <div class="table-responsive">
              <table class="mt-4 table table-borderless budget-calculation-controller">
                <thead class="thead-dark">
                  <tr>
                    <th class="width-30">Products</th>
                    <th class="width-20">Value</th>
                    <th class="width-30">Standards</th>
                    <th class="width-20">Overall</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="width-30 border-right-dark"><a routerLink="/budget-assumtion" matTooltip="Know Your Assumptions" matTooltipPosition="right">Flooring Naterial</a></td>
                    <td class="width-20 border-right-dark">216.48sf</td>
                    <td class="width-30 border-right-dark">$5.39 persf</td>
                    <td class="width-20">$1166.83</td>
                  </tr>
                  <tr>
                    <td class="border-right-dark"><a routerLink="/budget-assumtion" matTooltip="Know Your Assumptions" matTooltipPosition="right">Transition Strips</a></td>
                    <td class="border-right-dark">3piece(s)</td>
                    <td class="border-right-dark">$75 Each</td>
                    <td>$225.00</td>
                  </tr>
                  <tr>
                    <td class="border-right-dark"><a routerLink="/budget-assumtion" matTooltip="Know Your Assumptions" matTooltipPosition="right">Nosing</a></td>
                    <td class="border-right-dark">1piece(s)</td>
                    <td class="border-right-dark">$90 each</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <td class="border-right-dark"><a routerLink="/budget-assumtion" matTooltip="Know Your Assumptions" matTooltipPosition="right">Sales Tax</a></td>
                    <td class="border-right-dark">MA</td>
                    <td class="border-right-dark">6.03%</td>
                    <td>$83.6</td>
                  </tr>
                  <tr>
                    <td class="border-right-dark"><a routerLink="/budget-assumtion" matTooltip="Know Your Assumptions" matTooltipPosition="right">Delivery</a></td>
                    <td class="border-right-dark">Value</td>
                    <td class="border-right-dark">$90</td>
                    <td>$90</td>
                  </tr>
                  <tr class="border-top-and-bottom font-bold">
                    <td colspan="3" class="border-right-dark">Total</td>
                    <td>$1565.8</td>
                  </tr>
                </tbody>
                <thead>
                  <tr>
                    <th colspan="4" class="text-left color-blue border-bottom-dark">Flooring Installation</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="border-right-dark">Demo</td>
                    <td class="border-right-dark">0</td>
                    <td class="border-right-dark">$3</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <td class="border-right-dark">Floor install</td>
                    <td class="border-right-dark">197</td>
                    <td class="border-right-dark">$3.5</td>
                    <td>$689.5</td>
                  </tr>
                  <tr>
                    <td class="border-right-dark">Base boards</td>
                    <td class="border-right-dark">44.5</td>
                    <td class="border-right-dark">$3</td>
                    <td>$133.5</td>
                  </tr>
                  <tr class="border-top-and-bottom font-bold">
                    <td colspan="3" class="border-right-dark">Total</td>
                    <td>$823.00</td>
                  </tr>
                </tbody>
                <thead class="thead-dark">
                  <tr class="border-bottom-offwhite">
                    <th colspan="3">Overall Total</th>
                    <th class="width-20">$2388.68</th>
                  </tr>
                  <tr>
                    <th colspan="3">Average</th>
                    <th class="width-20">$12.13</th>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="nxt-prev-btn-holder mt-4 mb-4">
              <a routerLink="/yourroom" mat-button class="prev-btn">Previous</a>
              <a routerLink="/signup" mat-button class="next-btn">Save Project</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>