<app-header></app-header>
<main class="body-wrapper">
  <section class="main-heading-wrapper">
    <div class="container">
      <div class="row">
          <div class="col-12 heading-tag collect-pin">
            <!-- Let's get started creating your -->
            <h1> <strong>Cabinets Remodel Budget!</strong><span>when replacing cabinets you will likely replace the counters.  </span></h1>
          </div>
        </div>
    </div>
  </section>
  <section class="common-controller-question-answer white-color-controller yourroom-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="room-details-holder heading-tag">
            <h2>Please answer the following</h2>
            <form id="counterTopDetails" [formGroup]="counterTopDetails">
              <mat-form-field  appearance="outline" class="mt-3">
                <mat-label>Select the type of Countertops</mat-label>
                <mat-select>
                  <mat-option value="Pre finished flooring">Pre finished flooring</mat-option>
                  <mat-option value="Unfinished Flooring">Unfinished Flooring</mat-option>
                  <mat-option value="Sanding and Refinishing existing ">Sanding and Refinishing existing </mat-option>
                  <mat-option value="Hardwood Flooring">Hardwood Flooring</mat-option>
                  <mat-option value="Sheet Vinyl">Sheet Vinyl</mat-option>
                  <mat-option value="Luxury Vinyl">Luxury Vinyl</mat-option>
                  <mat-option value="Porcelain or Ceramic tile flooring">Porcelain or Ceramic tile flooring</mat-option>
                  <mat-option value="Laminate flooring (Lock & Click floating)">Laminate flooring (Lock & Click floating)</mat-option>
                  <mat-option value="Not sure">Not sure</mat-option>
                </mat-select>
              </mat-form-field>
              <ul class="room-details countertop-details">
                <li class="active-room-details">
                  <div class="room-holder">
                    <div class="need-sinks-holder">
                      <div class="full-width">
                        <div class="quarter-controller quarter-third-width">
                          <label>Will you need sinks?</label>
                        </div>
                        <div class="quarter-controller quarter-width">
                          <mat-radio-group formControlName="needSinks">
                            <mat-radio-button value="yes" (change)="isActive = !isActive" required >Yes</mat-radio-button>
                            <mat-radio-button value="no"  (change)="isActive = false" required >No</mat-radio-button>
                          </mat-radio-group>
                        </div>
                      </div>
                      <div class="need-sinks-child-holder" [ngClass]="{'active': isActive}">
                        <div class="full-width">
                          <mat-form-field>
                            <input matInput placeholder="How many sinks will you need?" class="countertop_details" formControlName="howManySink" required>
                          </mat-form-field>
                        </div>
                        <div class="full-width">
                          <div class="half-width">
                            <mat-form-field>
                              <input matInput placeholder="Enter a budget" class="countertop_details" formControlName="sinkBudget" required>
                              <span matPrefix>$&nbsp;</span>
                            </mat-form-field>
                          </div>
                          <div class="half-width">
                            <mat-form-field>
                              <input matInput placeholder="Model Number / SKU" class="countertop_details" formControlName="modelNumber" required>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="full-width">
                          <mat-form-field>
                            <textarea matInput placeholder="Description"></textarea>
                          </mat-form-field>
                        </div>
                        <span class="sink-arrow"></span>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="quarter-controller quarter-third-width">
                        <label>Will you need a plumber?</label>
                      </div>
                      <div class="quarter-controller quarter-width">
                        <mat-radio-group formControlName="needPlumber">
                          <mat-radio-button value="yes" required >Yes</mat-radio-button>
                          <mat-radio-button value="no" required >No</mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="quarter-controller quarter-third-width">
                        <label> Do you want to add a 4" tall back splash?</label>
                      </div>
                      <div class="quarter-controller quarter-width">
                        <mat-radio-group formControlName="addSpalsh">
                          <mat-radio-button value="yes" required >Yes</mat-radio-button>
                          <mat-radio-button value="no" required >No</mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="nxt-prev-btn-holder">
                <a routerLink="/calculate-available-wallspace" mat-button class="prev-btn">Previous</a>
                <a routerLink="/flooring-type-cabinets" mat-button class="next-btn">Next</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>