<app-header></app-header>
<main class="body-wrapper">
  <app-service-heading></app-service-heading>
  <section class="common-controller-question-answer yourroom-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="room-details-holder heading-tag">
            <h2>Please tell us some details about countertop project</h2>
            <form id="counterTopDetails" [formGroup]="counterTopDetails">
              <ul class="room-details countertop-details">
                <li class="active-room-details">
                  <div class="room-holder">
                    <div class="full-width">
                      <div class="quarter-controller quarter-third-width">
                        <label>Will you need your old counters removed?</label>
                      </div>
                      <div class="quarter-controller quarter-width">
                        <mat-radio-group formControlName="oldCounterRemoved">
                          <mat-radio-button value="yes" required >Yes</mat-radio-button>
                          <mat-radio-button value="no" required >No</mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                    <div class="need-sinks-holder">
                      <div class="full-width">
                        <div class="quarter-controller quarter-third-width">
                          <label>Will you need sinks?</label>
                        </div>
                        <div class="quarter-controller quarter-width">
                          <mat-radio-group formControlName="needSinks">
                            <mat-radio-button value="yes" (change)="isActive = !isActive" required >Yes</mat-radio-button>
                            <mat-radio-button value="no"  (change)="isActive = false" required >No</mat-radio-button>
                          </mat-radio-group>
                        </div>
                      </div>
                      <div class="need-sinks-child-holder" [ngClass]="{'active': isActive}">
                        <div class="full-width">
                          <mat-form-field>
                            <input matInput placeholder="How many sinks will you need?" class="countertop_details" formControlName="howManySink" required>
                          </mat-form-field>
                        </div>
                        <div class="full-width">
                          <mat-form-field>
                            <input matInput placeholder="Enter a budget" class="countertop_details" formControlName="sinkBudget" required>
                            <span matPrefix>$&nbsp;</span>
                          </mat-form-field>
                        </div>
                        <div class="full-width">
                          <div class="quarter-controller quarter-third-width">
                            <label>Will you need a plumber?</label>
                          </div>
                          <div class="quarter-controller quarter-width">
                            <mat-radio-group formControlName="needPlumber">
                              <mat-radio-button value="yes" required >Yes</mat-radio-button>
                              <mat-radio-button value="no" required >No</mat-radio-button>
                            </mat-radio-group>
                          </div>
                        </div>
                        <span class="sink-arrow"></span>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="quarter-controller quarter-third-width">
                        <label>Will you need an Island or Peninsula?</label>
                      </div>
                      <div class="quarter-controller quarter-width">
                        <mat-radio-group formControlName="needIslandPeninsula">
                          <mat-radio-button value="yes" required >Yes</mat-radio-button>
                          <mat-radio-button value="no" required >No</mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                    <div class="full-width">
                      <div class="quarter-controller quarter-third-width">
                        <label> Do you want to add a 4" tall back spalsh?</label>
                      </div>
                      <div class="quarter-controller quarter-width">
                        <mat-radio-group formControlName="addSpalsh">
                          <mat-radio-button value="yes" required >Yes</mat-radio-button>
                          <mat-radio-button value="no" required >No</mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="nxt-prev-btn-holder">
                <a routerLink="/counter-location" mat-button class="prev-btn">Previous</a>
                <a routerLink="/countertop-floor-plan" mat-button class="next-btn">Next</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>