<section class="common-controller-question-answer state-pin-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <figure class="question-answer-holder">
          <div class="question-answer-title-holder">
            <h2>What is the location of your project?</h2>
            <div class="question-answer-icon-holder">
              <i class="fa fa-map-marker"></i>
            </div>
          </div>
          <figcaption>
            <form class="question-answer-form">
              <mat-form-field class="common-style-question-answer put-your-pin">
                <input matInput placeholder="Enter Zip Code">
              </mat-form-field>
              <div class="nxt-prev-btn-holder">
                <button type="button" mat-button class="next-btn">Next</button>
              </div>
            </form>              
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>