<app-header></app-header>
<main class="body-wrapper">
  <section class="state-pin-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12 heading-tag collect-pin">
          <h1>Let's find you <strong>Kitchen Remodelers</strong><span>Please give us a few details so we can connect you with the best pros.</span></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <figure class="question-answer-holder">
            <div class="question-answer-title-holder">
              <h2>What is the location of your project?</h2>
              <div class="question-answer-icon-holder">
                <i class="fa fa-map-marker"></i>
              </div>
            </div>
            <figcaption>
              <form class="question-answer-form">
                <mat-form-field class="common-style-question-answer put-your-pin">
                  <input matInput placeholder="Enter Zip Code">
                </mat-form-field>
                <div class="nxt-prev-btn-holder">
                    <a mat-button class="next-btn">Next</a>
                </div>
              </form>              
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>
</main>