<app-header></app-header>
<main class="body-wrapper">
  <section class="main-heading-wrapper">
    <div class="container">
      <div class="row">
          <div class="col-12 heading-tag collect-pin">
            <!-- Let's get started creating your -->
            <h1> <strong>Countertops Remodel Budget!</strong><span>Please help Klisee with the following details in order to create the most accurate budget:</span></h1>
          </div>
        </div>
    </div>
  </section>
  <section class="common-controller-question-answer state-pin-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <figure class="question-answer-holder verticle-center">
            <div class="question-answer-title-holder">
               <h2>Are you replacing or updating appliances?</h2> 
            </div>
            <figcaption>
              <form class="question-answer-form">
                <mat-radio-group>
                  <ul class="align-center">
                    <li><mat-radio-button value="Select Future Appliances">Select Future Appliances</mat-radio-button></li>
                    <li><mat-radio-button value="Select current Appliances">Select current Appliances</mat-radio-button></li>
                  </ul>
                </mat-radio-group>
                <div class="nxt-prev-btn-holder">
                  <a routerLink="/cabinets-peninsula-measure" mat-button class="prev-btn">Previous</a>
                  <a routerLink="" mat-button class="next-btn">Next</a>
                </div>
              </form>              
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>
</main>