<app-header></app-header>
<main class="body-wrapper">
  <section class="main-heading-wrapper">
    <div class="container">
      <div class="row">
          <div class="col-12 heading-tag collect-pin">
            <!-- Let's get started creating your -->
            <h1> <strong>Countertops Remodel Budget!</strong><span>Please help Klisee with the following details in order to create the most accurate budget:</span></h1>
          </div>
        </div>
    </div>
  </section>
  <section class="common-controller-question-answer state-pin-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <figure class="question-answer-holder">
            <div class="question-answer-title-holder">
               <h2>Do you plan to replace your appliances?</h2> 
            </div>
            <figcaption>
              <form class="question-answer-form">
                <mat-radio-group>
                  <ul class="label-controller">
                    <li>
                      <mat-radio-button value="Yes, I would like to update my appliances" (change)="isActive = !isActive">Yes, I would like to update my appliances</mat-radio-button>
                      <mat-radio-group class="show-label" aria-label="labelSet" [ngClass]="{'active': isActive}">
                        <mat-radio-button value="Entry">Entry</mat-radio-button>
                        <mat-radio-button value="Mid Priced">Mid Priced</mat-radio-button>
                        <mat-radio-button value="High End">High End</mat-radio-button>
                        <mat-radio-button value="Exclusive">Exclusive</mat-radio-button>
                      </mat-radio-group>                            
                    </li>
                    <li>
                      <mat-radio-button value="Select current Appliances" (change)="isActive = false">No, I would like to keep the existing appliances</mat-radio-button>
                    </li>
                  </ul>
                </mat-radio-group>
                <div class="nxt-prev-btn-holder">
                  <a routerLink="/flooring-type-cabinets" mat-button class="prev-btn">Previous</a>
                  <a routerLink="/appliances" mat-button class="next-btn">Next</a>
                </div>
              </form>              
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>
</main>