<app-header></app-header>
<main class="body-wrapper">
  <section class="main-heading-wrapper">
    <div class="container">
      <div class="row">
          <div class="col-12 heading-tag collect-pin">
            <!-- Let's get started creating your -->
            <h1> <strong>Cabinets Remodel Budget!</strong><span>Please help Klisee with the following details in order to create the most accurate budget:</span></h1>
          </div>
        </div>
    </div>
  </section>
  <section class="common-controller-question-answer state-pin-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <figure class="question-answer-holder">
            <div class="question-answer-title-holder">
              <h2>Appliances</h2>
              <div class="question-answer-icon-holder">
                <img src="assets/images/engineer.png" alt="Worker">
              </div>
            </div>
            <figcaption>
              <form class="question-answer-form">
                <mat-radio-group>
                  <ul>
                    <li><mat-radio-button value="Pre finished flooring">Pre finished flooring</mat-radio-button></li>
                    <li><mat-radio-button value="Unfinished Flooring">Unfinished Flooring</mat-radio-button></li>
                    <li><mat-radio-button value="Sanding and Refinishing existing">Sanding and Refinishing existing </mat-radio-button></li>
                    <li><mat-radio-button value="Hardwood Flooring">Hardwood Flooring</mat-radio-button></li>
                    <li><mat-radio-button value="Sheet Vinyl">Sheet Vinyl</mat-radio-button></li>
                    <li><mat-radio-button value="Luxury Vinyl">Luxury Vinyl</mat-radio-button></li>
                    <li><mat-radio-button value="Porcelain or Ceramic tile flooring">Porcelain or Ceramic tile flooring</mat-radio-button></li>
                    <li><mat-radio-button value="Laminate flooring (Lock & Click floating)">Laminate flooring (Lock & Click floating)</mat-radio-button></li>
                    <li><mat-radio-button value="Not sure">Not sure</mat-radio-button></li>
                  </ul>
                </mat-radio-group>
                <div class="nxt-prev-btn-holder">
                  <a routerLink="/common-kitchen-layouts" mat-button class="prev-btn">Previous</a>
                  <a routerLink="/counterdetails-cabinets" mat-button class="next-btn">Next</a>
                </div>
              </form>              
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>
</main>