<app-header></app-header>
<main class="body-wrapper">
  <section class="main-heading-wrapper">
    <div class="container">
      <div class="row">
          <div class="col-12 heading-tag collect-pin">
            <!-- Let's get started creating your -->
            <h1> <strong>Cabinets Remodel Budget!</strong><span>Please help Klisee with the following details in order to create the most accurate budget:</span></h1>
          </div>
        </div>
    </div>
  </section>
  <section class="common-controller-question-answer state-pin-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <figure class="question-answer-holder">
            <div class="question-answer-title-holder">
              <h2>Appliances</h2>
            </div>
            <figcaption>
              <form class="question-answer-form appliances-controller">
                <ul>
                  <li>
                    <mat-checkbox value="Refrigerator">Refrigerator</mat-checkbox>
                    <small class="model-number max-width-110 outline-input-controller">
                      <mat-form-field appearance="outline">
                        <mat-label>Model No</mat-label>
                        <input matInput value="FFSS2615TS">
                      </mat-form-field>
                    </small>
                  </li>
                  <li>
                    <mat-checkbox value="Dishwasher">Dishwasher</mat-checkbox>
                    <small class="model-number max-width-110 outline-input-controller">
                      <mat-form-field appearance="outline">
                        <mat-label>Model No</mat-label>
                        <input matInput value="FFID2426TS">
                      </mat-form-field>
                    </small>
                  </li>
                  <li>
                    <mat-checkbox value="Slide in Range">Slide in Range</mat-checkbox>
                    <small class="model-number max-width-110 outline-input-controller">
                      <mat-form-field appearance="outline">
                        <mat-label>Model No</mat-label>
                        <input matInput value="FFEF3054TS">
                      </mat-form-field>
                    </small>
                  </li>
                  <li>
                    <mat-checkbox value="Cooktop">Cooktop</mat-checkbox>
                    <small class="model-number max-width-110 outline-input-controller">
                      <mat-form-field appearance="outline">
                        <mat-label>Model No</mat-label>
                        <input matInput value="FFEF3054TS">
                      </mat-form-field>
                    </small>
                  </li>
                  <li>
                    <mat-checkbox value="Built in Microwave">Built in Microwave</mat-checkbox>
                    <small class="model-number max-width-110 outline-input-controller">
                      <mat-form-field appearance="outline">
                        <mat-label>Model No</mat-label>
                        <input matInput value="FFEF3054TS">
                      </mat-form-field>
                    </small>
                  </li>
                  <li>
                    <mat-checkbox value="Over the range Microwave">Over the range Microwave</mat-checkbox>
                    <small class="model-number max-width-110 outline-input-controller">
                      <mat-form-field appearance="outline">
                        <mat-label>Model No</mat-label>
                        <input matInput value="FFEF3054TS">
                      </mat-form-field>
                    </small>
                  </li>
                  <li>
                    <mat-checkbox value="Built in Single Oven">Built in Single Oven</mat-checkbox>
                    <small class="model-number max-width-110 outline-input-controller">
                      <mat-form-field appearance="outline">
                        <mat-label>Model No</mat-label>
                        <input matInput value="FFEF3054TS">
                      </mat-form-field>
                    </small>
                  </li>
                  <li>
                    <mat-checkbox value="Hood Vent">Hood Vent</mat-checkbox>
                    <small class="model-number max-width-110 outline-input-controller">
                      <mat-form-field appearance="outline">
                        <mat-label>Model No</mat-label>
                        <input matInput value="FFEF3054TS">
                      </mat-form-field>
                    </small>
                  </li>
                  <li>
                    <mat-checkbox value="Wine Cooler / Beverage Fridge">Wine Cooler / Beverage Fridge</mat-checkbox>
                    <small class="model-number max-width-110 outline-input-controller">
                      <mat-form-field appearance="outline">
                        <mat-label>Model No</mat-label>
                        <input matInput value="FFEF3054TS">
                      </mat-form-field>
                    </small>
                  </li>
                  <li>
                    <mat-checkbox value="Speed Oven">Speed Oven</mat-checkbox>
                    <small class="model-number max-width-110 outline-input-controller">
                      <mat-form-field appearance="outline">
                        <mat-label>Model No</mat-label>
                        <input matInput value="FFEF3054TS">
                      </mat-form-field>
                    </small>
                  </li>
                </ul>
                <div class="nxt-prev-btn-holder">
                  <a routerLink="/replace-or-update-appliances" mat-button class="prev-btn">Previous</a>
                  <a routerLink="/appliances-label" mat-button class="next-btn">Next</a>
                </div>
              </form>              
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>
</main>