<app-header></app-header>
<main class="body-wrapper">
  <section class="main-heading-wrapper">
    <div class="container">
      <div class="row">
          <div class="col-12 heading-tag collect-pin">
            <!-- Let's get started creating your -->
            <h1> <strong>Cabinets Remodel Budget!</strong><span>Please help Klisee with the following details in order to create the most accurate budget:</span></h1>
          </div>
        </div>
    </div>
  </section>
  <section class="common-controller-question-answer state-pin-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <figure class="question-answer-holder">
            <div class="question-answer-title-holder">
              <h2>Appliances Level</h2>
            </div>
            <figcaption>
              <form class="question-answer-form">
                <ul class="appliances-label-container">
                  <li>
                    <label>Refrigerator</label>
                    <mat-radio-group>
                      <mat-radio-button class="appliances-label-options" value="Entry">Entry</mat-radio-button>
                      <mat-radio-button class="appliances-label-options" value="Mid Priced">Mid Priced</mat-radio-button>
                      <mat-radio-button class="appliances-label-options" value="High End">High End</mat-radio-button>
                      <mat-radio-button class="appliances-label-options" value="Exclusive">Exclusive</mat-radio-button>
                    </mat-radio-group>
                  </li>
                  <li>
                    <label>Dishwasher</label>
                    <mat-radio-group>
                      <mat-radio-button class="appliances-label-options" value="Entry">Entry</mat-radio-button>
                      <mat-radio-button class="appliances-label-options" value="Mid Priced">Mid Priced</mat-radio-button>
                      <mat-radio-button class="appliances-label-options" value="High End">High End</mat-radio-button>
                      <mat-radio-button class="appliances-label-options" value="Exclusive">Exclusive</mat-radio-button>
                    </mat-radio-group>
                  </li>
                  <li>
                    <label>Slide in Range</label>
                    <mat-radio-group>
                      <mat-radio-button class="appliances-label-options" value="Entry">Entry</mat-radio-button>
                      <mat-radio-button class="appliances-label-options" value="Mid Priced">Mid Priced</mat-radio-button>
                      <mat-radio-button class="appliances-label-options" value="High End">High End</mat-radio-button>
                      <mat-radio-button class="appliances-label-options" value="Exclusive">Exclusive</mat-radio-button>
                    </mat-radio-group>
                  </li>
                  <li>
                    <label>Cooktop</label>
                    <mat-radio-group>
                      <mat-radio-button class="appliances-label-options" value="Entry">Entry</mat-radio-button>
                      <mat-radio-button class="appliances-label-options" value="Mid Priced">Mid Priced</mat-radio-button>
                      <mat-radio-button class="appliances-label-options" value="High End">High End</mat-radio-button>
                      <mat-radio-button class="appliances-label-options" value="Exclusive">Exclusive</mat-radio-button>
                    </mat-radio-group>
                  </li>
                  <li>
                    <label>Built in Microwave</label>
                    <mat-radio-group>
                      <mat-radio-button class="appliances-label-options" value="Entry">Entry</mat-radio-button>
                      <mat-radio-button class="appliances-label-options" value="Mid Priced">Mid Priced</mat-radio-button>
                      <mat-radio-button class="appliances-label-options" value="High End">High End</mat-radio-button>
                      <mat-radio-button class="appliances-label-options" value="Exclusive">Exclusive</mat-radio-button>
                    </mat-radio-group>
                  </li>
                  <li>
                    <label>Over the range Microwave</label>
                    <mat-radio-group>
                      <mat-radio-button class="appliances-label-options" value="Entry">Entry</mat-radio-button>
                      <mat-radio-button class="appliances-label-options" value="Mid Priced">Mid Priced</mat-radio-button>
                      <mat-radio-button class="appliances-label-options" value="High End">High End</mat-radio-button>
                      <mat-radio-button class="appliances-label-options" value="Exclusive">Exclusive</mat-radio-button>
                    </mat-radio-group>
                  </li>
                </ul>
                <div class="nxt-prev-btn-holder">
                  <a routerLink="/appliances" mat-button class="prev-btn">Previous</a>
                  <a routerLink="/appliances-label" mat-button class="next-btn">Next</a>
                </div>
              </form>              
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>
</main>