.header-login-signup-wrapper{
    background-color: #18374c;
}
.header-login-signup-wrapper nav{
    max-width:85%;
    margin: 0 auto;
    padding: 0;
}
.header-login-signup-wrapper .navbar-brand{
    padding: 0;
}
.header-login-signup-wrapper .navbar-brand img{
    width:120px;
}
.separater{
    position: relative;
}
.separater::after{
    content: "|";
    position: absolute;
    right: -2px;
    top: 50%;
    margin-top: -13px;
    font-size: 20px;
    color: #e0bf66;
}
.navbar-nav li a{
    padding: 5px 15px;
    font-size: 17px;
    color: #e0bf66;
}
/*------*/
.login-signup-main-wrapper{
    min-height: 100vh;
    background:#e4e8e8 url(/assets/images/banner-login.png) no-repeat;
    background-size: cover;
}
.login-signup-wrapper{
    padding: 70px 0;
}
.heading-tag h1{
    color: #18374c;
    font-size: 36px;
    text-align: center;
    font-family: Helvetica;
    line-height: 40px;
    margin: 0.5rem 0 1.2rem;
}
.heading-tag h1 span{
    display: block;
    font-size: 18px;
}
.heading-tag h1 span a:hover{
    text-decoration: underline;
}
.signup-login-holder{
    background-color:rgba(255,255,255,0.7);
    max-width: 460px;
    margin: 0 auto;
    box-shadow: 0 6px 100px rgb(213, 213, 213);
    padding: 40px;
    border-radius: 10px;
}
.login-signup-form-controller h5{
    color: #18374c;
    font-size: 20px;
    line-height: 28px;
}
.login-signup-form-controller li {
    font-size: 15px;
}
.forgot-password a{
    font-size: 12px;
}
.word-break{
    display: block;
}
.social-btn-holder{
    margin-top: 10px;
    justify-content: center;
    display: flex;
    margin-bottom: 0;
}
.social-btn-holder li{
    margin:10px 10px 20px;
    text-align: center;
}
.saparater{
    border-right: 2px solid #e0e0e0;
}
.terms-service-controller{
    font-size: 11px;
    text-align: center;
}
.terms-service-controller a:hover{
    text-decoration: underline;
}
.or-saparater{
    text-align: center;
}
.or-saparater p{
    color: #18374c;
    position: relative;
    width:120px;
    margin: 10px auto;
}
.or-saparater p::before,
.or-saparater p::after{
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1px;
    height: 2px;
    background-color: #18374c;
    width:100px;
}
.or-saparater p::before{
    left: -60%;
}
.or-saparater p::after{
    right: -60%;
}
.login-signup-form-controller .mat-icon{
    color: #ababab;
}

/*--- Media Start ----*/
@media (min-width:320px) and (max-width:991px){
    .separater::after{
        display: none;
    }
    .navbar-light .navbar-toggler{
        border-color: #ddbf65;
    }
}
@media (min-width:320px) and (max-width:767px){
    .social-btn-holder li a .fa {
        margin-right: 5px;
        width: 38px;
        height: 38px;
        line-height: 38px;
        font-size: 20px;
    }
    .social-btn-holder li a{
        width: 230px;
        height: 38px;
    }
    .social-btn-holder{
        display: flex;
        flex-direction: column;
    }
    .social-btn-holder li{
        margin: 5px;
    }
    .login-signup-form-controller{
        padding: 15px;
    }
    .heading-tag h1 span {
        display: block;
        font-size: 15px;
        line-height: 25px;
    }
    .heading-tag h1 {
        font-size: 26px;
    }
    .login-signup-wrapper {
        padding: 20px 0;
    }
}