<main class="home-wrapper">
  <section class="navigation-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light navigation-holder">
      <a class="navbar-brand" routerLink="/home"><img src="/assets/images/logo.png" alt="KLISEE"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse empowering-home-text-controller" id="navbarSupportedContent">
        <p class="visible-desktop">empowering the homeowner</p>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item separater">
            <a class="nav-link" routerLink="/login">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup">Sign Up</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-12 empowering-home-text-controller visible-mobile text-center">
          <p>empowering the homeowner</p>
        </div>
      </div>
    </div>
  </section>

  <section class="budget-picker-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12 budget-picker-controller">
          <h1>Ready to create a budget? Pick you project</h1>
          <mat-form-field class="example-chip-list ">
            <mat-chip-list #chipList>
              <mat-chip
                *ngFor="let fruit of fruits"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(fruit)">
                {{fruit}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="Pick Your Projects"
                #fruitInput
                [formControl]="fruitCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                {{fruit}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>    
          <button type="button" class="get-started-btn">get started</button>      
        </div>
      </div>
    </div>
  </section>

</main>
